*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.calculator 
{
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    background: dimgray;
    box-shadow: dimgray 10px;
    border-radius: 15px;

}

.calculator input
{
    border-radius: 10px;
}


#display 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}

.keys 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}


button 
{
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover 
{
    background-color: #ddd;
}
